@import url(http://fonts.googleapis.com/css?family=Antic+Slab);

h1 {
    font-family: 'Antic Slab', serif;
    font-size:80px;
    color:#DDCCEE;
}

html,body {
    height:100%;
    background-image: url("modules/common/images/nature-lightning-wallpaper-widescreen-high-resolution-photos-for-desktop-background.jpg");
}

.lead {
    color:#DDCCEE;
}

.modify {
    margin-bottom: 5px;
}


/* Custom container */
.container-full {
    margin: 0 auto;
    width: 100%;
    min-height:100%;
    background-color:#110022;
    color:#eee;
    overflow:hidden;
}

.container-full a {
    color:#efefef;
    text-decoration:none;
}

.row {
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.main {
    margin: 2%;
}

.translucent-background {
    background: url(../images/trans-layer.png) repeat 0 0;
}

.business-module {
    min-height: 10%;
}



/* .user-search-plugin .popover{
       background: url(../images/trans-layer.png) repeat 0 0;
   }
   .user-search-plugin .popover-title{
       background:none;
       border-bottom: none;
   }*/