<!--
<div>
    <button uib-popover="{{users}}" popover-title="Users" type="button" class="btn btn-default">Dynamic Popover</button>
</div>-->
<button uib-popover-template="popoverConfig.templateUrl" popover-trigger="{{popoverConfig.trigger}}" type="button"
        class="btn btn-primary" style="margin-left: 10px">Search User
</button> <br/>

<div ng-if="vm.selectedUser" class="alert alert-warning">You have selected <strong>{{vm.selectedUser.user}}</strong> from <strong>{{vm.selectedUser.institute.instt}}</strong></div>