<div class="headline"><h2>Test Suite Desktop</h2></div>
<div class="business-object-repeat margin-bottom-20 alert alert-danger">
    <strong>DIscription</strong> : lorum iposum dfdfsdsf sdf sdf sdfsdfsdf
    <strong>tags</strong> : lorum iposum
    <strong>optional</strong> : lorum iposum
    <input type="button" value="Modify" class="btn btn-primary" >
</div>
<div class="business-object-repeat margin-bottom-20 alert alert-danger">
    <strong>DIscription</strong> : lorum iposum
    <strong>tags</strong> : lorum iposum
    <strong>optional</strong> : lorum iposum
    <input type="button" value="Modify" class="btn btn-primary" >
</div>