<div class="headline"><h2>Test Suite Desktop</h2></div>
<div class="business-object-repeat" data-ng-repeat="testSuite in testSuites">
    <div class="wrapper">

        <strong>Name</strong> : {{testSuite.name}}
        <strong>Code</strong> : {{testSuite.code}}
        <strong>Tegs</strong> : <span data-ng-repeat="tag in testSuite.tags" class="label label-success">{{tag}}</span>


        <div class="title">
            <strong>Test Cases</strong> : Some other Data
            <input type="button" value="Implement" class="btn btn-primary">
        </div>
    </div>
</div>


{{testSuites}}