<div class="headline"><h2>Test Case Desktop</h2></div>
<div class="business-object-repeat margin-bottom-20n alert alert-success">
    <a class="img-hover" href="#">
        nodata
    </a>

    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
        corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in
        culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est
        etenim a feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam
        lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Integer sed
        arcu. <a class="linked color-green" href="#">htttp://www.example.com</a></p>
</div>
<div class="business-object-repeat margin-bottom-20 alert alert-warning">
    <a class="img-hover" href="#">
        nodata
    </a>

    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
        corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in
        culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est
        etenim a feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam
        lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Integer sed
        arcu. <a class="linked color-green" href="#">http://www.example.com</a></p>
</div>

{{testCases}}
