<div class="headline"><h2>Test Case Desktop</h2></div>
<div class="business-object-repeat" data-ng-repeat="testCase in testCases">
    <div class="wrapper">

        <strong>Name</strong> : {{testCase.name}}
        <strong>Code</strong> : {{testCase.code}}
        <strong>Tegs</strong> : <span data-ng-repeat="tag in testCase.tags" class="label label-success">{{tag}}</span>


        <div class="title">
            {{testCase}}
            <input type="button" value="Implement" class="btn btn-primary">
        </div>
    </div>
</div>
